@import "tailwindcss";

@theme {
  --color-brand: #4f46e5;
  --animate-marquee: marquee 10s linear infinite;

  @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
  }
}

@variant dark (&:where(.dark, .dark *));